<!doctype html>
<html>
<head>
  <title>MiniGit</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Highlight.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="nav-left">
      <a class="logo" href="/">MiniGit</a>
    </div>

    <div class="nav-right">
      <a href="/">Repos</a>
    </div>
  </div>

  <!-- Main Container -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>