{% extends "base.html" %}

{% block content %}

<!-- Header -->
<div class="repo-header">
  <div class="repo-title">
    <h2>{{name}}</h2>
    <span class="branch-badge">{{branch}}</span>
  </div>

  <div>
    <a class="btn" href="/repo/{{name}}?branch={{branch}}">
      Back
    </a>
  </div>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb">
  <a href="/repo/{{name}}?branch={{branch}}">root</a>
  <span>/</span>
  <span>{{file}}</span>
</div>

<!-- File actions -->
<div class="file-actions">
  <a href="/history/{{name}}/{{file}}?branch={{branch}}">
    View history
  </a>
</div>

<!-- File box -->
<div class="file-box">

  <div class="file-header">
    📄 {{file}}
  </div>

  <div class="file-content">
    <pre><code>{{content}}</code></pre>
  </div>

</div>

{% endblock %}