{% extends "base.html" %}

{% block content %}

<div class="repo-header">
  <div class="repo-title">
    <h2>{{repo}}</h2>
    <span class="branch-badge">{{branch}}</span>
  </div>
</div>

<div class="breadcrumb">
  <a href="/repo/{{repo}}?branch={{branch}}">root</a>
  <span>/</span>
  <span>{{file}}</span>
</div>

<h3 style="margin-top:10px;">History</h3>

<div class="commit-container">

  {% for c in commits %}
  <div class="commit-item">

    <div class="commit-message">
      <a href="/commit/{{repo}}/{{c.hash}}">
        {{c.message}}
      </a>
    </div>

    <div class="commit-sub">
      <span class="commit-hash">{{c.hash}}</span>
      <span class="dot">•</span>
      <span class="commit-author">{{c.author}}</span>
      <span class="dot">•</span>
      <span class="commit-time">{{c.time}}</span>
    </div>

  </div>
  {% endfor %}

</div>

{% endblock %}