{% extends "base.html" %}

{% block content %}

<!-- Header -->
<div class="repo-header">
  <div class="repo-title">
    <h2>{{name}}</h2>

    <form method="get">
      <input type="hidden" name="path" value="{{path}}">
      <select name="branch" onchange="this.form.submit()" class="branch-select">
        {% for b in branches %}
        <option value="{{b}}" {% if b==branch %}selected{% endif %}>
          {{b}}
        </option>
        {% endfor %}
      </select>
    </form>
  </div>

  <div class="repo-actions">
    <a class="btn" href="/commits/{{name}}?branch={{branch}}">
      Commits
    </a>

    <a class="btn" href="/download/{{name}}?branch={{branch}}">
      Download ZIP
    </a>
  </div>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb">
  <a href="/repo/{{name}}?branch={{branch}}">root</a>
  {% for b, p in breadcrumbs %}
  <span>/</span>
  <a href="/repo/{{name}}?branch={{branch}}&path={{p}}">{{b}}</a>
  {% endfor %}
</div>

{% if empty %}
<div class="empty">
  <div>No commits yet</div>
  <div class="empty-sub">Create your first commit</div>
</div>
{% else %}

<div class="repo-table">

  <!-- Header -->
  <div class="repo-row header">
    <span>Name</span>
    <span>Last commit</span>
    <span class="col-time">Time</span>
  </div>

  {% for item in items %}

<div class="repo-row">

  <!-- Name -->
  <span class="col-name">
    {% if item.type == "tree" %}
      <a href="/repo/{{name}}?branch={{branch}}&path={{path}}{{item.name}}/">
       📁 {{item.name}}
      </a>
    {% else %}
      <a href="/file/{{name}}/{{path}}{{item.name}}?branch={{branch}}">
       📄 {{item.name}}
      </a>
    {% endif %}
  </span>

  <!-- Commit -->
  <span class="col-message">
    {% if item.hash %}
      <a href="/commit/{{name}}/{{item.hash}}">
        {{item.last_commit}}
      </a>
    {% else %}
      {{item.last_commit}}
    {% endif %}
  </span>

  <!-- Time -->
  <span class="col-time">
    {{item.time}}
  </span>

</div>

{% endfor %}

</div>

{% if readme %}
<div class="readme-box">
  {{ readme|safe }}
</div>
{% endif %}

{% endif %}

{% endblock %}